---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";
import PortfolioItem from "../PortfolioItem.astro";
import type { SchemaContext } from "astro:content";

type SanitizedProject = {
  title: string;
  featured: boolean;
  image: { alt: string; filename: string };
  alt: string;
  slug: string;
  tags: string[];
  date: Date;
};

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/", {
  version:
    import.meta.env.STORYBLOK_IS_PREVIEW === "yes" ? "draft" : "published",
  content_type: "project",
});

const rawProjects = data.stories.map(
  (project: {
    content: { homeDisplay: any[] };
    full_slug: string;
    tag_list: string[];
  }) => {
    return {
      title: project.content.homeDisplay[0].title,
      featured: project.content.homeDisplay[0].featured,
      image: project.content.homeDisplay[0].coverPicture,
      tags: project.tag_list,
      slug: project.full_slug,
      date: new Date(project.content.details[0].year),
    };
  }
);

const featuredProject = rawProjects.find(
  (project: SanitizedProject) => project.featured
);
const projects = rawProjects
  .filter((project: SanitizedProject) => project.slug !== featuredProject.slug)
  .sort((a: SanitizedProject, b: SanitizedProject) => b.date - a.date);
const allTags = [
  ...new Set(
    rawProjects.flatMap((project: SanitizedProject) => project.tags).sort()
  ),
];

const { blok } = Astro.props;
---

<ul
  class="flex flex-wrap w-full md:w-11/12 justify-start gap-2 md:gap-6 font-serif italic text-neutral-500 max-w-7xl mx-4 md:mx-auto mb-12 text-base leading-0"
>
  {
    allTags.map((tag) => (
      <li>
        <span
          data-tag={tag}
          data-filter="false"
          class=" tag hover:cursor-pointer hover:text-primary data-[filter=true]:font-bold"
        >
          {tag}
        </span>
        <span>/</span>
      </li>
    ))
  }
</ul>

<ul
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 md:gap-12 w-full md:w-11/12 max-w-7xl grid-flow-dense mx-auto"
>
  {
    featuredProject && (
      <PortfolioItem
        title={featuredProject.title}
        alt={featuredProject.image.alt}
        image={featuredProject.image.filename}
        featured={true}
        slug={featuredProject.slug}
        tags={featuredProject.tags}
      />
    )
  }
  {
    projects.map((project: SanitizedProject) => (
      <PortfolioItem
        title={project.title}
        alt={project.image.alt}
        image={project.image.filename}
        slug={project.slug}
        tags={project.tags}
        featured={false}
      />
    ))
  }
</ul>

<script is:inline>
  const filterPortfolioItems = (filtersArray, portfolioItems) => {
    if (filtersArray.length === 0) {
      portfolioItems.forEach((element) => {
        element.classList.remove("hidden");
      });
    } else {
      portfolioItems.forEach((element) => {
        if (filtersArray.some((tag) => element.dataset.tags.includes(tag))) {
          element.classList.remove("hidden");
        } else {
          element.classList.add("hidden");
        }
      });
    }
  };

  const tagNames = document.querySelectorAll(
    ".tag"
  ) as NodeListOf<HTMLLIElement>;

  const portfolioItems = document.querySelectorAll(
    ".portfolio-item"
  ) as NodeListOf<HTMLLIElement>;

  let filterList: string[] = [];

  tagNames.forEach((tag) => {
    tag.addEventListener("click", (event) => {
      if (tag.dataset.filter === "true") {
        tag.dataset.filter = "false";
        filterList = filterList.filter((filter) => filter !== tag.dataset.tag);
      } else {
        tag.dataset.filter = "true";
        filterList.push(tag.dataset.tag);
      }
      filterPortfolioItems(filterList, portfolioItems);
    });
  });
</script>
