---
// import { storyblokEditable, renderRichText } from "@storyblok/astro";
// import ClickableImage from "../ClickableImage.astro";
// import PageTitle from "../PageTitle.astro";
// import Image from "astro/components/Image.astro";
// const { story, storyTitle, altLayout = false } = Astro.props;
// console.log("storyName", storyTitle);
// const blok = story.content.details[0];
---

<!-- 
(
<div class="w-full max-w-5xl flex flex-col items-center">
  <p class="text-xl font-semibold text-primary not-prose mb-12">
    {blok.header}
  </p>

  {
    blok.mainVisual.filename && (
      <Image
        src={blok.mainVisual.filename + "/m/1200x0"}
        alt={blok.mainVisual.alt || "Image illustrant le projet" + storyTitle}
        width={1200}
        height={900}
        class="w-full max-w-3xl  lg:h-fit mb-24 "
      />
    )
  }
  {
    blok.youtube && (
      <iframe
        class="mb-24 w-2/3 aspect-video "
        width="100%"
        height="480"
        src={`https://www.youtube.com/embed/${blok.youtube}`}
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      />
    )
  }

  {
    blok.content.map((section) => (
      <section>
        <h3>{section.title}</h3>
        <div
          set:html={renderRichText(section.content)}
          class="prose prose-lg max-w-3xl prose-neutral prose-p:text-neutral-600 prose-a:no-underline prose-a:text-primary hover:prose-a:underline"
        />
        <ul class="grid-cols-3 grid gap-3">
          {section.gallery.map((picture) => (
            <li class="list-none m-0 p-0">
              <ClickableImage
                picture={picture}
                alt={picture.alt || "Image illustrant le projet" + storyTitle}
              />
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</div>
) } -->
