---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import ClickableImage from "../ClickableImage.astro";
import PageTitle from "../PageTitle.astro";
const { blok, storyTitle, altLayout = false } = Astro.props;
console.log("storyName", storyTitle);
---

{
  altLayout ? (
    <div>
      <div class="flex-col items-center xl:items-start xl:flex-row  xl:w-full flex xl:gap-12 mb-24">
        <div class="flex flex-col justify-start items-center h-fit ">
          <PageTitle content={storyTitle} altLayout={true} />

          <img
            src={blok.mainVisual.filename}
            alt="storyTitle"
            class="w-full max-w-3xl  lg:h-fit "
          />
        </div>
        <div class="flex flex-col w-full xl:w-1/3 items-center justify-start">
          <p class=" text-xl font-semibold text-primary not-prose ">
            {blok.header}
          </p>
        </div>
      </div>

      {blok.content.map((section) => (
        <section class=" flex flex-col-reverse md:flex-row items-start justify-center gap-12 ">
          <ul class="grid-cols-2 xl:grid-cols-3 grid gap-3 w-full max-w-3-xl xl:w-2/3 px-0 ">
            {section.gallery.map((picture) => (
              <li class="list-none m-0 p-0">
                <ClickableImage
                  picture={picture}
                  alt={picture.alt || "Image illustrant le projet" + storyTitle}
                />
              </li>
            ))}
          </ul>
          <div class="w-full xl:w-1/3">
            <h3>{section.title}</h3>
            <div set:html={renderRichText(section.content)} />
          </div>
        </section>
      ))}
    </div>
  ) : (
    <div>
      <img src={blok.mainVisual.filename} alt="jhkjh" />
      {blok.content.map((section) => (
        <section>
          <h3>{section.title}</h3>
          <div set:html={renderRichText(section.content)} />
          <ul class="grid-cols-3 grid gap-3">
            {section.gallery.map((picture) => (
              <li class="list-none m-0 p-0">
                <ClickableImage
                  picture={picture}
                  alt={picture.alt || "Image illustrant le projet" + storyTitle}
                />
              </li>
            ))}
          </ul>
        </section>
      ))}
    </div>
  )
}
